/* 
    Document   : custom.scss
    Created on : 27 Jul, 2013, 3:51:45 PM
    Author     : akash
    Description:
        Purpose of the stylesheet follows.
*/
.page-groups .type-Answer, .page-groups .type-Poll {
  display: none; }
