/* #0d8bb9 */
/* #689440 */
/* #333333 */
body.palette-green-orange {
  color: #487231;
}

.palette-green-orange .header-color-row-one {
  background-image: url("./../images/organge_fg.jpg");
  border-top: 1px solid #ec9527;
}
.palette-green-orange .header-color-row-two {
  background: url("./../images/green_fg.jpg") 400px;
  border-top: 1px solid #d8d019;
  border-bottom: 1px solid #c99d13;
}

.boxshadow .palette-green-orange .header-color-row-one {
  -webkit-box-shadow: #f1df5a 0px -1px 0px;
  -moz-box-shadow: #2d3538 0px -1px 0px;
  box-shadow: #2d3538 0px -1px 0px;
  margin-top: 1px;
}

.palette-green-orange a {
  color: #cf9011;
}
.palette-green-orange #site-slogan {
  color: #D4F986;
  text-shadow: 0px 0px 10px #379742;
}
.palette-green-orange h2 {
  color: #49640f;
}
.palette-green-orange .palette-green-orange .commons-bw-create-all-widget-types li a {
  color: #cf9011;
}
.palette-green-orange h1.node-title {
  color: #cf9011;
}
.palette-green-orange h1.node-title a {
  color: #35c407;
}

.palette-green-orange #menu-bar.nav ul.menu li :hover .arrow:before, .palette-green-orange #menu-bar.nav ul.menu li .active-trail .arrow:before {
  border-color: transparent transparent #10afe9 transparent;
}
.palette-green-orange #menu-bar.nav ul.menu li :hover .arrow:after, .palette-green-orange #menu-bar.nav ul.menu li .active-trail .arrow:after {
  border-color: transparent transparent #0d8bb9 transparent;
}

.palette-green-orange ul.commons-utility-links li.last {
  border-left-color: #cf781a;
}

.palette-green-orange .quicktabs-style-commons-pills ul.quicktabs-tabs li a span {
  color: #cf9011;
}

.palette-green-orange ul.primary.tabs li a span {
  color: #cf9011;
}

.palette-green-orange .quicktabs-style-commons-pills ul.quicktabs-tabs li a:hover, .palette-green-orange .palette-green-orange ul.primary.tabs li a:hover {
  color: #c99d13;
}

.palette-green-orange .quicktabs-style-commons-pills ul.quicktabs-tabs li.active a span {
  color: #333333;
}

.palette-green-orange ul.primary.tabs li.active a span {
  color: #333333;
}
